<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MtgCollectionConnection"
			 connectionString="server=DESKTOP-BI1PLJN\SQLEXPRESS ; database=mtgCollection ; User Id=sa; Password=Bluesman.1; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>